#outer-box {
	border: 1px solid #ceccc8;
	border-radius: 2px;
}

#window {
	background-color: #080f0d;
}

#text {
	font-family: "Dina";
	color: #ceccc8;
}

#text:selected {
	color: #ceccc8;
}

#input {
	margin: 4px;
	border: 1px solid #a1787f;
	border-radius: 2px;
	font-family: "Dina";
	background-color: #080f0d;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
}

#entry:selected {
	background-color: #a1787f;
	border-radius: 1px;
}
